@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Nunito:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand100: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --gray100: hsl(210, 11%, 15%);
  --gray200: hsl(210, 10%, 23%);
  --gray300: hsl(210, 9%, 31%);
  --gray400: hsl(210, 7%, 56%);
  --gray500: hsl(210, 11%, 71%);
  --gray600: hsl(210, 16%, 93%);
  --gray700: hsl(210, 17%, 95%);
  --gray800: hsl(210, 17%, 98%);
  --gray900: hsl(200, 100%, 99%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);
}

.hidden {
  display: none;
}

.noScroll {
  overflow-y: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: var(--gray900);
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

/* Multiple styles */

/* Container and spacing */
.hContainer > h1, .hContainer > h2, .hContainer > p, .imgDiv {
  margin: 24px 0;
}

.containerDiv, .inputLabel, .dataInput, .submit, .goBackTo, .modalContainer {
  width: 100%;
}

.submit, .goBackTo, .createPost {
  height: 38px;
}

/* Colors */
.submit, .createPost, .savePost {
  background-color: var(--brand100);
  color: var(--gray900);
}

.hContainer h2, .hContainer > h2 > span, .accessPost {
  color: var(--brand100)
}

.formHeader > button, .goBackTo, .modalMain, .edit, .accessPost {
  background-color: var(--gray900);
}

/* Border and cursor */
.submit, .createPost, .savePost, .modalClose, .delete, .accessPost {
  border: none;
}

.registerForm, .formHeader > button, .dataInput, .submit, .goBackTo, .createPost, .modalClose, .tooltipDiv, .action {
  border-radius: 4px;
}

.formHeader > button, .dataInput, .goBackTo, .edit {
  border: 1px solid #E9ECEF;
}

/* Font and text */
.formHeader > button, .dataInput, .submit, .goBackTo, .createPost, .action, .accessPost {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.registerForm h3, .formHeader > button, .submit, .goBackTo, .createPost, .accountQuestion > span, .hContainer > h1, .action, .accessPost {
  font-weight: 500;
}

.accountQuestion > p, .hContainer > p, .postDescription {
  line-height: 150%;
}

/* Display */
.containerDiv, .postHeader, .formHeader, .imgDiv, .feedDiv, .modalContainer {
  display: flex;
}
