body {
  display: inline-block;
}

.containerDiv {
  display: block;
}

.feedDiv {
  width: 50%;
  height: 100px;
  margin-bottom: 30px;
  background-color: var(--gray800);
}

.hContainer {
  margin: 90px 0 0;
  display: flex;
  justify-content: space-between;
}

.hContainer > h1 {
  font-size: 24px;
}

.createPub {
  padding: 0 16px;
  color: #fff;
}

.publication {
  margin-bottom: 64px;
  list-style: none;
}
