/* Contâiner e espaçamento */
body {
  display: flex;
  align-items: center;
}

.hContainer > h1, .hContainer > h2, .hContainer > p, .imgDiv {
  margin: 24px 0;
}

.containerDiv, .inputLabel, .dataInput, .submit, .goBackTo, .modalContainer {
  width: 100%;
}

.submit, .goBackTo, .createPost {
  height: 38px;
}

/* Cores */
.submit, .createPost, .savePost {
  background-color: var(--brand100);
  color: var(--gray900);
}

.hContainer h2, .hContainer > h2 > span, .accessPost {
  color: var(--brand100)
}

.formHeader > button, .goBackTo, .modalMain, .edit, .accessPost {
  background-color: var(--gray900);
}

/* Borda e cursor */
.submit, .createPost, .savePost, .modalClose, .delete, .accessPost {
  border: none;
}

.registerForm, .formHeader > button, .dataInput, .submit, .goBackTo, .createPost, .modalClose, .tooltipDiv, .action {
  border-radius: 4px;
}

.formHeader > button, .dataInput, .goBackTo, .edit {
  border: 1px solid #E9ECEF;
}

/* Fonte e texto */
.formHeader > button, .dataInput, .submit, .goBackTo, .createPost, .action, .accessPost {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.registerForm h3, .formHeader > button, .submit, .goBackTo, .createPost, .accountQuestion > span, .hContainer > h1, .action, .accessPost {
  font-weight: 500;
}

.accountQuestion > p, .hContainer > p, .postDescription {
  line-height: 150%;
}

/* Display */
.containerDiv, .postHeader, .formHeader, .imgDiv, .feedDiv, .modalContainer {
  display: flex;
}

/* Estilo geral */
.containerDiv {
  max-width: 810px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.registerForm {
  width: 380px;
  padding: 45px 24px;
  border: 1px solid #D9D9D9;
}

.registerForm h3 {
  font-size: 22px;
}

.inputLabel {
  display: inline-block;
  margin: 20px 0;
  font-size: 18px;
}

.dataInput {
  height: 44px;
  margin-top: 12px;
  padding: 0 16px;
  display: block;
  background: #F8F9FA;
}

.goBackTo {
  margin-top: 20px;
}

.postHeader {
  margin-bottom: 25px;
  justify-content: space-between;
}

.postInfo {
  line-height: 200%;
}

.verticalLine {
  color: var(--gray600)
}

.postDate {
  color: var(--gray400)
}

.postDescription {
  margin: 20px 0;
}